<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body class="bg-zinc-900">
    <div class="mt-5 mb-10">
        <a class="text-blue-700 ml-5" href="/">back to home</a>
    </div>
    <div >
        <h1 class="text-3xl font-semibold ml-3 mt-5 text-center items-center text-white"><%= header.slice(0,-4) %></h1>
        <p class="ml-5 mt-10 text-white "><%= data  %></p>
    </div>
</body>
</html>